USE [master]
GO
/****** Object:  Database [DocBaoOnlineFinal]    Script Date: 8/15/2017 05:49:06 PM ******/
CREATE DATABASE [DocBaoOnlineFinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DocBaoOnlineFinal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DocBaoOnlineFinal.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DocBaoOnlineFinal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DocBaoOnlineFinal_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DocBaoOnlineFinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DocBaoOnlineFinal]
GO
/****** Object:  Table [dbo].[BaiBao]    Script Date: 8/15/2017 05:49:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiBao](
	[MaBaiBao] [nvarchar](50) NOT NULL,
	[MaTheLoai] [nvarchar](50) NULL,
	[Title] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[MoTaNgan] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[Username] [nvarchar](50) NULL,
	[NgayDang] [datetime] NULL,
 CONSTRAINT [PK_BaiBao] PRIMARY KEY CLUSTERED 
(
	[MaBaiBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GiaoDien]    Script Date: 8/15/2017 05:49:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDien](
	[IDGiaoDien] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Logo] [nvarchar](max) NULL,
	[Header] [nvarchar](max) NULL,
	[Footer] [nvarchar](max) NULL,
 CONSTRAINT [PK_GiaoDien3] PRIMARY KEY CLUSTERED 
(
	[IDGiaoDien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 8/15/2017 05:49:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Phonenumber] [nvarchar](50) NULL,
	[MaQuyen] [nvarchar](50) NULL,
	[ImagePro] [nvarchar](max) NULL,
	[Address] [nvarchar](200) NULL,
 CONSTRAINT [PK_NguoiDung2] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 8/15/2017 05:49:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaQuyen] [nvarchar](50) NOT NULL,
	[TenQuyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhanQuyen2] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuangCao]    Script Date: 8/15/2017 05:49:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuangCao](
	[MaQC] [nchar](10) NOT NULL,
	[ImageQC] [nchar](10) NULL,
	[Linkcontent] [nchar](10) NULL,
 CONSTRAINT [PK_QuangCao2] PRIMARY KEY CLUSTERED 
(
	[MaQC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 8/15/2017 05:49:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [nvarchar](50) NOT NULL,
	[TenTheLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BaiBao] ([MaBaiBao], [MaTheLoai], [Title], [Image], [MoTaNgan], [NoiDung], [Username], [NgayDang]) VALUES (N'', N'TL01', N'', N'', N'', N'', N'Anh Minh', CAST(N'2017-08-04 09:40:17.000' AS DateTime))
INSERT [dbo].[BaiBao] ([MaBaiBao], [MaTheLoai], [Title], [Image], [MoTaNgan], [NoiDung], [Username], [NgayDang]) VALUES (N'1234', N'TL01', N'1234', N'public/Images/image 3-4.jpg', N'12314', N'124124', N'Anh Minh', CAST(N'2017-08-04 07:37:20.000' AS DateTime))
INSERT [dbo].[GiaoDien] ([IDGiaoDien], [Title], [Logo], [Header], [Footer]) VALUES (N'GD01', N'Tin nhanh VnExpress', N'logo1.jpg', N'Báo tiếng Việt nhiều người xem nhất', N'Uy tín-Chất lượng')
INSERT [dbo].[GiaoDien] ([IDGiaoDien], [Title], [Logo], [Header], [Footer]) VALUES (N'GD02', N'Tin tức 24h.com', N'logo2.jpg', N'Tin tức cập nhật nhanh nhất', N'Tin cậy-Cập nhật')
INSERT [dbo].[GiaoDien] ([IDGiaoDien], [Title], [Logo], [Header], [Footer]) VALUES (N'GD03', N'Pháp luật', N'logo3.jpg', N'Tin nóng mới nhất', N'Cơ quan chủ quản: Bộ tư pháp')
INSERT [dbo].[NguoiDung] ([Username], [Password], [HoTen], [Email], [Phonenumber], [MaQuyen], [ImagePro], [Address]) VALUES (N'Anh Minh', N'1', N'Trần Anh Minh', N'Trananhminh@gmail.com', N'0986888999', N'WR', N'Pro.jpg', N'Hà Nội')
INSERT [dbo].[NguoiDung] ([Username], [Password], [HoTen], [Email], [Phonenumber], [MaQuyen], [ImagePro], [Address]) VALUES (N'Anh Tú', N'1', N'Hoàng Anh Tú', N'Hoanganhtu@gmail.com', N'0986888999', N'WR', N'Pro.jpg', N'Bắc Ninh')
INSERT [dbo].[NguoiDung] ([Username], [Password], [HoTen], [Email], [Phonenumber], [MaQuyen], [ImagePro], [Address]) VALUES (N'Bảo Lam', N'1', N'Trần Bảo Lam', N'TranbaoLam@gmail.com', N'0986888999', N'WR', N'Pro.jpg', N'Đà Nẵng')
INSERT [dbo].[PhanQuyen] ([MaQuyen], [TenQuyen]) VALUES (N'AD', N'Admin')
INSERT [dbo].[PhanQuyen] ([MaQuyen], [TenQuyen]) VALUES (N'US', N'User ')
INSERT [dbo].[PhanQuyen] ([MaQuyen], [TenQuyen]) VALUES (N'WR', N'Writer ')
INSERT [dbo].[QuangCao] ([MaQC], [ImageQC], [Linkcontent]) VALUES (N'QC01      ', N'QC01.jpg  ', NULL)
INSERT [dbo].[QuangCao] ([MaQC], [ImageQC], [Linkcontent]) VALUES (N'QC02      ', N'QC02.jpg  ', NULL)
INSERT [dbo].[QuangCao] ([MaQC], [ImageQC], [Linkcontent]) VALUES (N'QC03      ', N'QC03.jpg  ', NULL)
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL01', N'Trang chủ')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL02', N'Thời sự')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL03', N'Kinh doanh')
ALTER TABLE [dbo].[BaiBao]  WITH CHECK ADD  CONSTRAINT [FK_BaiBao_NguoiDung] FOREIGN KEY([Username])
REFERENCES [dbo].[NguoiDung] ([Username])
GO
ALTER TABLE [dbo].[BaiBao] CHECK CONSTRAINT [FK_BaiBao_NguoiDung]
GO
ALTER TABLE [dbo].[BaiBao]  WITH CHECK ADD  CONSTRAINT [FK_BaiBao_TheLoai] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[BaiBao] CHECK CONSTRAINT [FK_BaiBao_TheLoai]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_PhanQuyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[PhanQuyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_PhanQuyen]
GO
USE [master]
GO
